/README.md
/.project
/.settings
/condominio-ear/.settings
/condominio-ear/.project
/condominio-ejb/.classpath
/condominio-ejb/.project
/condominio-ejb/.settings
/condominio-ejb/target
/condominio-web/.classpath
/condominio-web/.project
/condominio-web/.settings
/condominio-web/target
/condominio-ear/target
/condominio-web/bin
