.btnAtivo {
    background-image: url("#{resource['img/icones:icone_bola_ativo.png']}") !important;
    width: 23px;
    height: 23px;
    background-position: 0px 0px;
}

.btnInativo {
    background-image: url("#{resource['img/icones:icone_bola_inativo.png']}") !important;
    width: 23px;
    height: 23px;
    background-position: 0px 0px;
}

.btnGostei {
    background-image: url("#{resource['img/icones:gostei.png']}") !important;
    width: 20px !important;
    height: 20px !important;
    background-position: 0px 0px;
}

.btnNaoGostei {
    background-image: url("#{resource['img/icones:nao_gostei.png']}") !important;
    width: 20px !important;
    height: 20px !important;
    background-position: 0px 0px;
}


.iconOnlyButton{
    background: transparent !important;
    border: none !important;
    margin: 0;
}