.btnAtivo {
    background-image: url("#{resource['img/icones:icone_bola_ativo.png']}") !important;
    width: 23px;
    height: 23px;
    background-position: 0px 0px;
}

.btnInativo {
    background-image: url("#{resource['img/icones:icone_bola_inativo.png']}") !important;
    width: 23px;
    height: 23px;
    background-position: 0px 0px;
}

.iconOnlyButton{
    background: transparent !important;
    border: none !important;
    margin: 0;
}