.topo{ height: 70px;}
.centroTopo{max-width: 990px; margin: 0 auto; padding-left: 20px;}
.corpo{max-width: 990px; margin: 0 auto; padding-left: 25px; padding-right: 25px; font-family: 'Poiret One', cursive;}

.corpo input{width: 300px;}
h1{font-size:22px; line-height: 35px;}
h1 span{font-size: 15px;}
.txtBlue{color: blue;}

