body,
html {
  padding: 0;
  margin: 0;
  background: #F0FFFF;/*#E0EEEE*/;
  overflow-x: hidden;
}


.topo{ 
	padding:10px;
	height: 110px;
	text-align:center;
    width:100%;
    display:block;
    clear:both;
    background:#1F8CF7;  
}

.imgLogo{ 
	left:245px;
}

.centroTopo{max-width: 990px; margin: 0 auto; padding-left: 20px;}

.corpo{max-width: 990px; margin: 0 auto; padding-left: 25px; padding-right: 25px; }

.corpo input{width: 300px;}

h1{
	margin-top:25px;
	font-size:2em; 
	color: #525A6E;
}
h2{
	font-size:1.5em;
	color: #ACB4C5;
}

p{
	font-size:1.2em; 
	color:  #525A6E;
	line-height: 25px;
}
.txtBlue{color: blue;}

label {
	margin-top:10px;
	margin-bottom:0px;
	padding:0px;
	font-size: 1.0em !important;	
	color: #525A6E;
}

.inputPadrao {
	width:100%;
	border:1px solid #B6C1C5;
	border-left: 3px solid #6D909F;
	box-shadow: none !important;
}

.botao{
	height:45px !important;
	display: inline-block !important;
	background: #3A5B6B !important;
	color: #FFF !important;
	padding: 10px 20px !important;
	text-decoration: none !important;
	box-sizing: border-box !important;
	font-size: 14px !important;
	border: 0px !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	margin: 10px;
}

.selectPadrao {
	width:100%;
	border:1px solid #B6C1C5;
	border-left: 3px solid #6D909F;
	box-shadow: none !important;
}
