/* "Menu" */
.menu{
    padding:20px 0;
    text-align:center;
    width:100%;
    display:block;
    clear:both;
    font-size:14px;
    color:#fff;
    background:#000;
}
.menu a{
    color:#fff;
    text-decoration:none;
    font-weight:700;
}