.conteudoSite{margin-top: 0px; font-family: 'Questrial', sans-serif;}
.logo{max-width: 250px;}
#colorBlue{color: #2b669a; text-transform: uppercase;}
.container{margin-top: 30px; margin-bottom: 30px;}
.menu{margin-top: 30px; color: #2b669a;}
.menu ul{padding: 0px;}
.menu ul li{float: left; width: 150px; height: 30px; text-align: center; padding-top: 5px;}
.menu ul li:hover{background-color: #00b3ee; color: #fff;}
.menu ul li a:hover{color: #fff;}
.select{background-color: #00b3ee; color: #fff;}
.select a{color: #fff;}
.imgQuadros{width: 220px; margin: 0 auto;}
.txtQuadros{width: 220px;  margin: 0 auto; padding-top: 10px; text-transform: uppercase; color: #2b669a}

.rodape{width: 100%; height: 200px; background-color: #2b669a; padding-top: 10px; color: #fff;}
.rodapeCentro{margin: 0 auto; color: #fff;}
.rodapeFaixa{background-color: #003366; width: 100%; height: 50px;}
.lista a{color: #fff;}



@media all and (max-width: 1024px) {
    .container{margin-top: 0px;}
    .logo{max-width: 220px; margin: 0 auto;}
    .menu ul li{float: left; width: 100%; background-color: #2b669a; height: 30px; text-align: center; padding-top: 5px;}
    .menu ul li{margin-bottom: 1px;}
    .menu ul li:hover{background-color: #00b3ee;}
    .menu ul li a{color: #fff;}
    .container{margin-top: 10px;}
    .rodape{height: 100%;}
}


#divBtnCadastrar{
	float:left;
	margin: 10px;
}
.btnCadastrar{
	background-color: red;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	color: #FFFFFF;
	font-size: 2em;
	
}

.ui-widget-header{
	display: inline-block !important;
	background:  #1F8CF7 !important;
	color: #FFF !important;
	border-radius: 4px !important;
	width: 100%;
}

.inputPadrao {
	width:100%;
	border:1px solid #B6C1C5;
	box-shadow: none !important;
}

.textAreaPadrao{
	width: 100%;
	height:80px;
	border:1px solid #B6C1C5;
	box-shadow: none !important;
}

.botao{
	height:35px !important;
	display: inline-block !important;
	background: #3A5B6B !important;
	color: #FFF !important;
	padding: 5px 20px !important;
	text-decoration: none !important;
	box-sizing: border-box !important;
	font-size: 14px !important;
	border: 0px !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	margin: 10px;
}

